/*override some things from blueprint.css */
body {
	font-size:100%;
	color: #111;
	padding: 0;
	overflow-x: hidden;
}
a:focus, a:hover { 
	color: #00f; 
}
a {
	text-decoration: underline;
}

.writemaths {
	font-size:125%;
	font-family: serif;
}
.writemaths p, .writemaths h1, .writemaths h2, .writemaths h3, .writemaths h4, .writemaths h5, .writemaths h6 {
	background: #fefefe;
	min-height: 1em;
}
.writemaths p:hover, .writemaths h1:hover, .writemaths h2:hover, .writemaths h3:hover, .writemaths h4:hover, .writemaths h5:hover, .writemaths h6:hover {
	background: #fafafa;
}

.writemaths p {
	text-indent: 1em
}
.writemaths textarea, .writemaths input, .writemaths p, .writemaths h1, .writemaths h2, .writemaths h3, .writemaths h4, .writemaths h5, .writemaths h6 {
	width: 100%;
	margin: 0.1em 0;
	padding: 0.1em 0.2em;
}
.writemaths textarea, .writemaths input {
	width: 99%;
	font-size: 100%;
	font-family: serif;
}
.writemaths .graph {
	border: 1px solid;
	margin: 0 auto;
}

.writemaths .preview {
	z-index: 1;
	position: absolute;
	display: none;
	border: 1px solid;
	padding: 0.2em;
	width: auto;
	margin: 0 auto;
	background: white;
	display: none;
}

#nav {
	text-align: right;
	font-size: 120%;
	background: #b0e0e6;
	padding: 0.25em;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	font-family: sans-serif;
}
#nav input {
	font-size: 100%;
}

#nav > * {
	margin: 0 1em;
}

#nav a:hover {
	cursor: pointer;
}

#switch, #saveas {
	display: inline-block;
}
@media print {
	body {
		font-size: 12pt;
		background: white;
		font-color: black;
	}

	.writemaths p, .writemaths h1, .writemaths h2, .writemaths h3, .writemaths h4, .writemaths h5, .writemaths h6 {
		background: white;
	}

	.writemaths {
		font-size: 100%;
	}

	#nav, #controls {
		display: none;
	}
}
