.writemaths {
	font-size:150%;
	font-family: serif;
}
.writemaths p, .writemaths h1, .writemaths h2, .writemaths h3, .writemaths h4, .writemaths h5, .writemaths h6 {
	background: #fafafa;
	min-height: 1em;
}
.writemaths p {
	text-indent: 1em
}
.writemaths textarea, .writemaths input, .writemaths p, .writemaths h1, .writemaths h2, .writemaths h3, .writemaths h4, .writemaths h5, .writemaths h6 {
	width: 100%;
	margin: 0.1em 0;
	padding: 0.1em 0.2em;
}
.writemaths textarea, .writemaths input {
	width: 99%;
	font-size: 100%;
	font-family: serif;
}
.writemaths .graph {
	border: 1px solid;
	margin: 0 auto;
}

.writemaths .preview {
	/*z-index: 1;*/
	position: absolute;
	display: none;
	border: 1px solid;
	padding: 0.2em;
	width: auto;
	margin: 0 auto;
	background: white;
	display: block;
}

